
/* nav */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block; /* แสดงปุ่มเมนูเป็น block เมื่อขนาดหน้าจอเล็กกว่า 768px */
  }
  .navbar-nav {
    display: none; /* ซ่อน Navbar เมื่อขนาดหน้าจอเล็กกว่า 768px */
  }
  .navbar-toggle:focus + .navbar-nav {
    display: block; /* แสดง Navbar เมื่อปุ่มเมนูถูกคลิก */
  }
}
@media (max-width: 768px) {
  .navbar-nav {
    position: absolute;
    top: 50px; /* กำหนดตำแหน่ง Navbar ให้อยู่ด้านล่างของปุ่มเมนู */
    left: 0;
    width: 100%;
    padding: 0;
    background-color: #fff; /* กำหนดสีพื้นหลังของ Navbar */
    z-index: 1;
  }
  .navbar-nav li {
    display: block;
    margin: 0;
    border-bottom: 1px solid #ccc; /* กำหนดเส้นขอบระหว่างเมนู */
  }
  .navbar-nav a {
    display: block;
    padding: 10px 20px;
    color: #333; /* กำหนดสีของข้อความเมนู */
  }
}
/* nav */
.background {
    /* position: fixed; */
    /* Preserve aspet ratio */
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
 }

 .imgcove{
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height:  100%; /* กำหนดความสูงสูงสุดเป็น 400px */
 }
 /* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
    .imgcove {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
  }
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 600px) {
    .imgcove {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
  }
 
  .navbar{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    margin: 3px;

    position: absolute    ; top:5%; right: 3%; z-index:1;
    
  }